*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --main-color:#6c757d;
}
h1{
    font-size: 3rem;
    font-weight: 500;
    margin: 40px 20px;
    text-align: center;
}
p{
    font-size: 2rem;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.container-ggl{
    border: var(--main-color) solid thin;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 20px 15px;
}
.container-ggl:hover{
    box-shadow: 5px 5px 20px 2px  slategrey;
}
.container-ggl img{
    width: 100px;
    height: 80px;
}
 .container-ddg{
    border: var(--main-color) solid thin;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px 15px;
    margin: 15px 0 15px;
}
.container-ddg:hover{
    box-shadow: 5px 5px 20px 2px  slategrey;
}
.container-ddg img{
    width: 100px;
    height: 100px;
}