*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --main-color:#6c757d;
}
img{
    width: 150px;
    height: 100px;
}
h1{
    font-size: 3rem;
    font-weight: 500;
    margin: 40px 20px;
    text-align: center;
}
p{
    font-size: 2rem;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.container .container-ggl{
    border: var(--main-color);
    border-style: solid;
}
.container .container-ddg{
    border: var(--main-color);
    border-style: solid;
}