*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: #f7f7f7;
    font-family: Proxima Nova;
}
@font-face{
    font-family: 'Proxima Nova';
    src: url(./Font/ProximaNova-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
.all-powerful{
    margin: 27px 0px 0px 16px;
    display: flex;
    justify-content: flex-end;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-bar-1{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px 0px 0px;
}
.nav-bar-1 .nav-bar-1-t{
    width: 114.8px;
    height: 37px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}
.nav-bar-1-t a{
    color: #a5a5a5;
    font-size: 1.4rem;
    text-decoration: none;
}
.nav-bar-1 .nav-bar-1-ad1{
    margin: 0px 10px 0px 5px;
    width: 14.41px;
    height: 38px;
    padding: 7px 0px 5px 0px;
}
.nav-bar-1 img{
    width: 11px;
    height: 10px;
}
.nav-bar-2{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-bar-2 .nav-bar-2-t{
    width: 25px;
    height: 39px;
    margin: 0px 5px 0px 0px;
}
.nav-bar-2 .trumpet{
    width: 25px;
    height: 25px;
}
.nav-bar-2 .nav-bar-2-ad2{
    margin: 0px 10px 0px 5px;
    width: 14.41px;
    height: 38px;
    padding: 7px 0px 5px 0px;
}
.nav-bar-2 .arrow-down{
    width: 11px;
    height: 10px;
}
.nav-bar-menu{
    cursor: pointer;
    margin: 0px 10px 0px 10px;
    width: 33px;
    height: 33px;
    padding: 5px;
}
.nav-bar-menu img{
    width: 15px;
    height: 15px;
}
.main-duckduckgo-logo{
    display: flex;
    justify-content: center;
    margin: 50px 0px 11.52px 0px;
}
.main-duckduckgo-logo img{
    margin: 0px 47.5px;
    width: 205px;
    height: 200px;
}
.main-search-bar{
    margin: 0 auto;
    width: 613.03px;
    height: 79.06px;
    padding: 18.72px 11.52px 14.4px;
}
.main-search-bar-input{
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.15);
    width: 580px;
    height: 45.95px;
    padding: 0px 0px 0px 12.312px;
}
.main-search-bar input{
    border: none;
    outline: none;
    width: 518.25px;
    height: 44px;
}
.main-search-bar-img{
    padding: 10px 13.1328px;
}
.main-search-bar-img img{
    width: 20px;
    height: 20px;
}
.main-search-bar-img:hover{
    background-color: #81b29a;
}
.main-search-text{
    color: #9a9a9a;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
}
.main-search-text a{
    color: #4495d4;
    text-decoration: none;
}
.main-search-text a:hover{
    text-decoration: underline;
}